@import "src/assets/scss/variables";
@import "src/assets/scss/media";

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;

  .divider {
    margin: 0 12px;
    border-left: 1px #eee solid;
  }

  .pagination {
    height: 32px;
    align-self: center;
    display: flex;
    border: 1px #eee solid;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 12px;

    input {
      width: 36px;
      outline: none;
      border: none;
      font-size: 16px;
      line-height: 22px;
      color: $text-color-dark;
      text-align: center;
    }

    .total {
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eee;
      font-size: 16px;
      line-height: 22px;
      color: $text-color-muted;
    }
  }

  .scaling {
    display: flex;
    overflow: hidden;

    &-tool {
      min-width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-color-dark;
      cursor: pointer;
    }

    input {
      align-self: center;
      height: 32px;
      border: 1px #eee solid;
      border-radius: 4px;
      width: 54px;
      outline: none;
      font-size: 16px;
      line-height: 22px;
      color: $text-color-dark;
      text-align: center;
    }
  }

  .fitting {
    display: flex;
    align-items: center;

    &-tool {
      display: flex;
      align-items: center;
      padding: 0 12px;
      cursor: pointer;

      &.fit-horizontal {
        i {
          font-size: 14px;
          margin: 1px;
        }
      }

      &.fit-vertical {
        flex-direction: column;

        i {
          font-size: 12px;
        }
      }
    }
  }
}
