<div class="wrapper">

  <div class="tools tools-left">

    <div class="tool" (click)="selectTool('mouse')" [class.selected]="activeTool === 'mouse'">
      <i class="fal fa-hand-paper"></i>
    </div>

    <div class="tool" (click)="selectTool('pen')" [class.selected]="activeTool === 'pen'">
      <i class="fal fa-pen"></i>
    </div>

    <div class="tool" (click)="selectTool('highlighter')" [class.selected]="activeTool === 'highlighter'">
      <i class="fal fa-i-cursor"></i>
    </div>

    <div class="tool" (click)="selectTool('text')" [class.selected]="activeTool === 'text'">
      <i class="fal fa-text"></i>
    </div>

    <div class="tool" (click)="selectTool('figure')" [class.selected]="activeTool === 'figure'">
      <i class="fal fa-square"></i>
      <i class="fal fa-angle-down"></i>
    </div>

    <div class="tool">
      <i class="fal fa-image"></i>
    </div>

  </div>

  <div class="tools tools-center">

<!--    <div class="tool tool-sm" (click)="navigatePage(-1)" [class.disabled]="currentPage === 1">-->
<!--      <i class="fal fa-arrow-up"></i>-->
<!--    </div>-->

<!--    <div class="tool tool-sm" (click)="navigatePage(1)" [class.disabled]="currentPage === totalPages">-->
<!--      <i class="fal fa-arrow-down"></i>-->
<!--    </div>-->

    <div class="pagination">
      <input [(ngModel)]="currentPage">
      <div class="total">5</div>
    </div>

    <div class="divider"></div>

    <div class="scaling">

      <div class="tool no-highlight">
        <i class="fal fa-minus"></i>
      </div>

      <input [(ngModel)]="currentZoom">

      <div class="tool no-highlight">
        <i class="fal fa-plus"></i>
      </div>

    </div>

    <div class="divider"></div>

    <div class="fitting">

      <div class="fitting-tool fit-horizontal">
        <i class="fal fa-arrow-to-left"></i>
        <i class="fal fa-arrow-to-right"></i>
      </div>

      <div class="fitting-tool fit-vertical">
        <i class="fal fa-arrow-to-top"></i>
        <i class="fal fa-arrow-to-bottom"></i>
      </div>

    </div>

  </div>

  <div class="tools tools-right">

    <div class="tool">
      <i class="fal fa-undo"></i>
    </div>

    <div class="tool">
      <i class="fal fa-redo"></i>
    </div>

    <div class="tool">
      <i class="fal fa-search"></i>
    </div>

  </div>

</div>
