@import "variables";

.wrapper {
  padding: 24px;

  .hint {
    font-size: 14px;
    line-height: 20px;
    color: $text-color-muted;
    margin-bottom: 24px;
  }

  img {
    width: 100%;
    object-fit: contain;
    border: 1px #ddd dashed;
  }
}
