<div class="wrapper">

  <div class="header">
    <app-editor-header></app-editor-header>
  </div>

  <div class="toolbar">
    <app-editor-toolbar></app-editor-toolbar>
  </div>

  <div class="main">

    <div class="sidebar-preview pretty-scrollbar">
      <app-editor-sidebar-preview></app-editor-sidebar-preview>
    </div>

    <div class="body pretty-scrollbar">
      <app-editor-body></app-editor-body>
    </div>

<!--    <div class="sidebar-settings pretty-scrollbar">-->
<!--      <app-editor-sidebar-settings></app-editor-sidebar-settings>-->
<!--    </div>-->

  </div>

  <div class="toolbar-viewer-tools">
    <app-editor-toolbar-viewer-tools></app-editor-toolbar-viewer-tools>
  </div>

</div>
